
@*Views\_ViewStart.cshtml file defines the common layout that all views will us*@
@*@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}*@ 


@{
    ViewBag.Title = "Movies List";
}

<h2>Welcome to my Page</h2>

<p>Hello from our View Template!</p>

